			.aboutus{
				color:#964B00;
				float: left;
				width: 329px;
				border-right: 1px solid #eeeeee;
				padding-left:9px;
				padding-right:9px}
				
			.masuk{margin:0px 0px 20px 30px;background:#964B00;color:white;border:1px;font-family:Calibri;font-size:14;border-radius:2;padding-bottom:5px;padding-top:5px;padding-left:9px;padding-right:9px;border-top:1px;width:75;height:30;}
			body {
				color: #ff0000;
				background-color: ;
				background-position: center;
				font-family: Georgia, Times, serif;
				line-height: 1.4em;
				margin: 0px;}
			.wrapper {
				width: 1349px;
				margin: 0px 0px 0px 0px;
				background-color: #ffffff;}
			header {
				height: 210px;
				background-image: url(head1.jpg);}
			h1 {
				text-indent: -9999px;
				width: 940px;
				height: 130px;
				margin: 0px;}
			nav, footer {
				clear: both;
				color: #ffffff;
				background-color: #964B00;
				height: 30px;}
			nav ul {
				margin: 0px;
				padding: 0px 0px 5px 30px;}
			nav li {
				display: inline;
				margin-right:100px;
				margin-left:50px;}
			nav li a {
				color: #ffffff;}
			nav li a:hover, nav li a.current {
				color: #000000;}
			section {
				color:#964B00;
				float: left;
				width: 909px;
				padding-left:9px;
				padding-right:9px}
			article {
				clear: both;
				overflow: auto;
				width: 100%;}
			hgroup {
				margin-top: 40px;}
			figure {
				float: left;
				width: 150px;
				height: 140px;
				padding: 5px;
				margin: 20px;
				border: 1px solid #eeeeee;}
			figcaption {
				float:center;
				font-size: 90%;
				text-align: left;
				margin: 5px 0px 5px 0px;}
			aside {
				width: 329px;
				color:#964B00;
				float: left;
				padding: 0px 0px 0px 20px;}
			aside section a {
				color:#964B00;
				display: block;
				padding: 10px;
				border-bottom: 1px solid #eeeeee;}
			aside section a:hover {
				color: #985d6a;
				background-color: #efefef;}
			a {
				color: #de6581;
				text-decoration: none;}
			h1, h2, h3 {
				font-weight: normal;}
			h2 {
				margin: 10px 5px 5px 5px;
				padding-left: 20px;}
			h3 {
				margin: 0px 0px 10px 0px;
				color: #de6581;}
			aside h2 {
				padding: 30px 0px 10px 0px;
				width:250px;
				color:#964B00;}
			footer {
				font-size: 80%;
				padding: 7px 0px 0px 20px;}
			login{background:#FFFFF;color:#000;border:0px;line-height:3em;padding:0 10px;}	
				
					<script>
				function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>